<%- include('../partials/header') -%>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Yelp Camp</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card mb-3">
        <img src="<%= campground.image %>" alt="" class="card-img-top" />
        <div class="card-body">
          <h4 class="card-title">
            <a href="#"><%= campground.name %></a>
            <% if (campground.price == 0) { %>
            <p class="float-right">FREE</p>
            <% } else { %>
            <p class="float-right">$<%= campground.price %>/night</p>
            <% } %>
          </h4>
          <p><%= campground.description %></p>
          <% if (campground.author.username) { %>
          <p><em>Submitted by: <%= campground.author.username %></em></p>
          <% } %> <% if (currentUser && campground.author.id.equals(currentUser._id)) { %>
          <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
          <form
            class="delete-form"
            action="/campgrounds/<%= campground._id %>/?_method=DELETE"
            method="post"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <a
            class="btn btn-success float-right"
            href="/campgrounds/<%= campground._id %>/comments/new"
            >Leave a review</a
          >
        </div>
        <div class="card-body bg-light">
          <% for (const comment of campground.comments){ %>
          <div class="row">
            <div class="col-md-12 mb-3">
              <span class="card-title text-muted"><%= comment.author.username %></span>
              <span class="float-right">10 days ago</span>
              <p class="card-text"><%= comment.text %></p>
              <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
              <a
                href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                class="btn btn-sm btn-warning"
                >Edit</a
              >
              <form
                class="delete-form"
                action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
              >
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<h1></h1>

<p></p>
<a href="/campgrounds">Go back</a>

<%- include('../partials/footer') -%>
